.button {
  border: none;
  margin: 0px;
}

.card {
  border-radius: 0px;
  padding: 5px;
  border: 1px solid green;
}

.carddefaultColor {
  border-radius: 0px;
  padding: 5px;;
  background-color: #3CB371;
}

.cardcheckedColor {
  border-radius: 0px;
  padding: 5px;
  background-color: #F2F5A9;
}
